@import url("./my-reset.css");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*
 *
  Fonts Usage

  font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat', sans-serif;
  */

:root {
  --color: white;
  --bg-color: black;
  --bg-grey: rgb(34, 37, 41);
  --color-highlight: rgb(229, 127, 59);
  --overlay-404-color: rgb(172, 107, 57);
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

p {
  line-height: 1.4;
}

/*
 * Navbar
 */

header {
  padding: 16px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 28px;
  font-family: "Comfortaa", cursive;
}

.navbar .nav-item {
  margin: 16px 128px;
  color: white;
  text-shadow: 1px 1px 1px var(--color-highlight);
}

.navbar .nav-link:hover {
  color: var(--color-highlight);
  text-shadow: 1px 1px 1px white;
}

.navbar-inverted .nav-link {
  color: var(--color-highlight);
  text-shadow: 1px 1px 1px white;
}

.navbar-inverted .nav-link:hover {
  color: white;
  text-shadow: 1px 1px 1px var(--color-highlight);
}

/*
 * Footer
 */

footer {
  padding: 64px;
}

footer .row {
  align-items: flex-end;
}

footer .quote .author {
  display: block;
  margin-top: 32px;
  font-weight: 500;
}

footer .design-by {
  display: flex;
  flex-direction: column;
}

footer .design-by h5 {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 500;
}

footer .design-by h6 {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
}

footer .design-by a {
  display: block;
  margin-top: 4px;
}

/***********/
/*
 *  Page: Home
 */
.main-banner .bg-img-home {
  padding: 200px 128px;
  text-align: center;
  color: var(--color-highlight);
  text-shadow: 1px 1px 1px white;
  background-image: url("./../images/rodeo-drive.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  /* TODO: Check image resizing issue on browser resize */
}

.main-banner h2 {
  font-size: 32px;
  font-weight: 500;
}

.section {
  padding: 128px 0;
}

.section2 .info-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 32px;
}

.section2 .info-cards .card {
  flex: 1;
  background-color: black;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 1px 7px 15px -2px rgba(0, 0, 0, 0.49);
}

.section2 .info-cards .card .card-img {
  max-height: 235px;
  border-radius: 4px;
  object-fit: fill;
}

.section3 p {
  font-weight: 500;
  margin-bottom: 16px;
  text-align: justify;
}

.section4 .locations {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
}

.section4 .locations .location {
  gap: 32px;
}

.section4 .locations .location:nth-child(2n + 1) {
  text-align: left;
}

.section4 .locations .location:nth-child(2n) {
  text-align: right;
  flex-direction: row-reverse;
}

.section4 .locations .location .title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 32px;
}

.section4 .locations .location .description {
  text-align: justify;
}

/***********/
/*
 *  Page: 404
 */

.main-banner .bg-img-404 {
  position: relative;
  padding: 200px 128px;
  text-align: center;
}

.main-banner .message {
  color: black;
  font-size: 42px;
  font-weight: 500;
  position: relative;
}

.bg-img-404 {
  background-image: url("./../images/404.jpg");
  background-position: center;
}

.bg-img-404-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-404-color);
  opacity: 0.7;
}

.info-404-section {
  padding: 128px 0;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

/************/
/*
* Utilities
*/

.bg-black {
  background-color: black;
}

.bg-grey {
  background-color: var(--bg-grey);
}

.img-fluid {
  width: 100%;
}

.center {
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.row .col-25 {
  flex-basis: 25%;
}

.row .col-50 {
  flex-basis: 50%;
}

.row .col-75 {
  flex-basis: 75%;
}

.row .col-100 {
  flex-basis: 100%;
}

.card {
  display: flex;
  flex-direction: column;
}

.card .card-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card .card-header {
  margin-bottom: 12px;
}

.card .card-content .title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 12px;
}
