<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blood Pressure Predictor</title>

    <meta
      name="keywords"
      content="Aditya Dave,MS in CS, Viterbi School of Engineering,USC"
    />
    <meta name="author" description="Aditya Dave" />
    <meta
      name="description"
      content="Blood Pressure Predictor CSCI-571 Web Technologies Homework 2."
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='/site.webmanifest') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/assets/css/style.css') }}"
    />
  </head>
  <body>
    Hello World!
    <script src="{{ url_for('static', filename='/assets/js/main.js') }}"></script>
  </body>
</html>
