<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blood Pressure Predictor</title>

    <meta
      name="keywords"
      content="Aditya Dave,MS in CS, Viterbi School of Engineering,USC"
    />
    <meta name="author" description="Aditya Dave" />
    <meta
      name="description"
      content="Blood Pressure Predictor CSCI-571 Web Technologies Homework 2."
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='site.webmanifest') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/style.css') }}"
    />
  </head>
  <body>
    <!-- Start - App Header -->
    <header>
      <h1>Blood Pressure Predictor</h1>
      <h3>Fill out the form to get your Blood Pressure estimate!</h3>
    </header>
    <!-- End - App Header -->
    <!-- Start - Application -->
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <div class="card blood-pressure-predictor">
              <form
                action="#"
                onsubmit="return predictBloodPressure()"
                id="bloodPressurePredictionForm"
              >
              <div class="card-content">
                  <div class="row">
                    <div class="col-32">
                      <label for="age">Age<sup>*</sup></label>
                    </div>
                    <div class="col-75">
                      <input
                        type="number"
                        name="age"
                        id="age"
                        placeholder="Enter age in years"
                        required
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-32">
                      <label for="weight">Weight<sup>*</sup></label>
                    </div>
                    <div class="col-75">
                      <input
                        type="number"
                        name="weight"
                        id="weight"
                        placeholder="Enter weight in kg"
                        required
                      />
                    </div>
                  </div>
                  <div class="row align-self-center">
                    <div class="col-100">
                      <input type="submit" value="Predict" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-100">
                      <h5 id="blood-pressure-display"></h5>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End - Application -->
    </section>
    <!-- Start - App Footer -->
    <footer>
      <p>
        <small>
          Made with
          <svg
            viewBox="0 0 1792 1792"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            style="height: 0.8rem"
          >
            <path
              d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"
              fill="#e25555"
            ></path>
          </svg>
          by
          <a href="https://www.adityadave.dev" target="_blank">Aditya Dave</a>
          as part of MS in CS course CSCI-571 Web Technologies at University of
          Southern California.
        </small>
      </p>
    </footer>
    <!-- End - App Footer -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  </body>
</html>
